{% extends 'choujiang/base.html' %}
{% block style %}
    <style>
        #nn div {
            height: 130px;
            background: url("/static/img/xp.png") no-repeat;
            line-height: 130px;
            font-size: 34px;
        }
    </style>
{% endblock %}
{% block base_center %}


    <!-- 主体盒子-->
    <div class="main-box">
        <!-- 喜迎新年-->
        <div class="title-box">
            <img src="/static/img/pc-titile.png" alt="">
        </div>
        <!-- 装饰点缀-->
        <div class="desc-box">
            <img src="/static/img/dianzhui.png" alt="">
        </div>
        <div class="main">
            <!-- 数字背景盒子-->
            <div class="num-bg-box" style="text-align: center">
                <div id="nn">
                    <div class="col-lg-2 col-xs-2 col-sm-2 col-md-2 col-lg-offset-1"></div>
                    <div class="col-lg-2 col-xs-2 col-sm-2 col-md-2"></div>
                    <div class="col-lg-2 col-xs-2 col-sm-2 col-md-2"></div>
                    <div class="col-lg-2 col-xs-2 col-sm-2 col-md-2"></div>
                    <div class="col-lg-2 col-xs-2 col-sm-2 col-md-2"></div>


                    <div class="col-lg-2 col-xs-2 col-sm-2 col-md-2 col-lg-offset-1"></div>
                    <div class="col-lg-2 col-xs-2 col-sm-2 col-md-2"></div>
                    <div class="col-lg-2 col-xs-2 col-sm-2 col-md-2"></div>
                    <div class="col-lg-2 col-xs-2 col-sm-2 col-md-2"></div>
                    <div class="col-lg-2 col-xs-2 col-sm-2 col-md-2"></div>
                </div>

                <!-- 数字盒子-->
                {#                <div class="num_box row">#}
                {##}
                {#                </div>#}
            </div>
        </div>
    </div>
    <!-- 操作按钮-->
    <div class="row" style="z-index: 999; margin-top: 100px">
        <div class="col-lg-2 col-lg-offset-5">
            <button type="button" class="btn btn-default" onclick="RandomNum(this, 10)">开始</button>
        </div>
    </div>



    <script>
        var ref;
        var retury_count = 0

        function rdm() {
            $("#nn .col-lg-2").each(function () {
                $(this).text(Math.floor(Math.random() * 100 + 1));
            })
        }

        /*随机所有的code并且不重复*/
        function startRandomNum(th) {
            ref = setInterval(function (args) {
                rdm();
            }, 10);

        }

        function RandomNum(th, num) {

            if ($(th).text() == "开始") {
                ref = setInterval(function (args) {
                    rdm();
                }, 10);
                $(th).text('停止');
            } else {
                $.ajax({
                    url: "./get_ret?num=" + num,
                    type: "GET",
                    success: function (data) {
                        $(th).text('开始');
                        clearInterval(ref);
                        $("#nn .col-lg-2").empty();
                        var d = JSON.parse(data);
                        for (var i = 0; i < num; i++) {
                            console.log($("#nn .col-lg-2")[i].innerText = d[i]);
                        }
                    },
                    error: function () {
                        retury_count++;
                        if (retury_count % 10 == 0) {
                            alert('网络好像出了些问题。。。，重试？');
                        }

                        setTimeout(function () {
                            RandomNum(th, num);
                        }, 500);


                    }
                })
            }


        }
    </script>




{% endblock %}