<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/img/favicon.ico">

    <title>detao</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="https://v3.bootcss.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://v3.bootcss.com/examples/dashboard/dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="https://v3.bootcss.com/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">德稻答题系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Help</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="">控制台<span class="sr-only">(current)</span></a></li>
                <li><a href="/Lottery/">抽奖</a></li>
                <li><a href="./ws">websocket</a></li>
                <li><a href="#">Export</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="">Nav item</a></li>
                <li><a href="">Nav item again</a></li>
                <li><a href="">One more nav</a></li>
                <li><a href="">Another nav item</a></li>
                <li><a href="">More navigation</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="">Nav item again</a></li>
                <li><a href="">One more nav</a></li>
                <li><a href="">Another nav item</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main ">

            <div id="question" class="borderbox">
                <p>题目：</p>
                <div class="0 alert alert-info" role="alert"></div>
                <div class="1 alert alert-info" role="alert"></div>
                <div class="2 alert alert-info" role="alert"></div>

            </div>

            <br> <br>
            统计结果
            <div id="tongji">

            </div>
            <br><br><br>
            <!-- 按钮 -->
            <div class="row">
                <input id="0" class="btn btn-primary btn-lg hidden" type="submit" value="开幕" onclick="kaimu()">
                <div class="">
                    <input id="1" class="btn btn-primary btn-lg hidden" type="button" value="开始第0轮"
                           onclick="action_round(0)">
                    <div>
                        <div>
                            <input id="2" class="btn btn-primary btn-lg hidden" type="submit" value="开题0"
                                   onclick="kaiti(0, 0)">
                            <input id="3" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案0"
                                   onclick="gongbudaan(0, 0)">
                        </div>
                        <div>
                            <input id="4" class="btn btn-primary btn-lg hidden" type="submit" value="开题1"
                                   onclick="kaiti(0, 1)">
                            <input id="5" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案1"
                                   onclick="gongbudaan(0, 1)">
                        </div>

                        <div>
                            <input id="6" class="btn btn-primary btn-lg hidden" type="submit" value="开题2"
                                   onclick="kaiti(0, 2)">
                            <input id="7" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案2"
                                   onclick="gongbudaan(0, 2)">
                        </div>

                        <div>
                            <input id="8" class="btn btn-primary btn-lg hidden" type="submit" value="开题3"
                                   onclick="kaiti(0, 3)">
                            <input id="9" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案3"
                                   onclick="gongbudaan(0, 3)">
                        </div>

                        <div>
                            <input id="10" class="btn btn-primary btn-lg hidden" type="submit" value="开题4"
                                   onclick="kaiti(0, 4)">
                            <input id="11" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案4"
                                   onclick="gongbudaan(0, 4)">
                        </div>

                        <div>
                            <input id="12" class="btn btn-primary btn-lg hidden" type="submit" value="开题5"
                                   onclick="kaiti(0, 5)">
                            <input id="13" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案5"
                                   onclick="gongbudaan(0, 5)">
                        </div>

                        <div>
                            <input id="14" class="btn btn-primary btn-lg hidden" type="submit" value="开题6"
                                   onclick="kaiti(0, 6)">
                            <input id="15" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案6"
                                   onclick="gongbudaan(0, 6)">
                        </div>

                        <div>
                            <input id="16" class="btn btn-primary btn-lg hidden" type="submit" value="开题7"
                                   onclick="kaiti(0, 7)">
                            <input id="17" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案7"
                                   onclick="gongbudaan(0, 7)">
                        </div>

                        <div>
                            <input id="18" class="btn btn-primary btn-lg hidden" type="submit" value="开题8"
                                   onclick="kaiti(0, 8)">
                            <input id="19" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案8"
                                   onclick="gongbudaan(0, 8)">
                        </div>

                        <div>
                            <input id="20" class="btn btn-primary btn-lg hidden" type="submit" value="开题9"
                                   onclick="kaiti(0, 9)">
                            <input id="21" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案9"
                                   onclick="gongbudaan(0, 9)">
                        </div>

                        <div>
                            <input id="22" class="btn btn-primary btn-lg hidden" type="submit" value="开题10"
                                   onclick="kaiti(0, 10)">
                            <input id="23" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案10"
                                   onclick="gongbudaan(0, 10)">
                        </div>

                        <div>
                            <input id="24" class="btn btn-primary btn-lg hidden" type="submit" value="开题11"
                                   onclick="kaiti(0, 11)">
                            <input id="25" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案11"
                                   onclick="gongbudaan(0, 11)">
                        </div>

                    </div>
                    <input id="26" class="btn btn-primary btn-lg hidden" type="submit" value="结束第0轮"
                           onclick="end_round(0)">

                </div>

                <div>

                    <input id="27" class="btn btn-primary btn-lg hidden" type="submit" value="开始第1轮"
                           onclick="action_round(1)">
                    <div>

                        <div>
                            <input id="28" class="btn btn-primary btn-lg hidden" type="submit" value="开题0"
                                   onclick="kaiti(1, 0)">
                            <input id="29" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案0"
                                   onclick="gongbudaan(1, 0)">
                        </div>

                        <div>
                            <input id="30" class="btn btn-primary btn-lg hidden" type="submit" value="开题1"
                                   onclick="kaiti(1, 1)">
                            <input id="31" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案1"
                                   onclick="gongbudaan(1, 1)">
                        </div>

                        <div>
                            <input id="32" class="btn btn-primary btn-lg hidden" type="submit" value="开题2"
                                   onclick="kaiti(1, 2)">
                            <input id="33" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案2"
                                   onclick="gongbudaan(1, 2)">
                        </div>

                        <div>
                            <input id="34" class="btn btn-primary btn-lg hidden" type="submit" value="开题3"
                                   onclick="kaiti(1, 3)">
                            <input id="35" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案3"
                                   onclick="gongbudaan(1, 3)">
                        </div>

                        <div>
                            <input id="36" class="btn btn-primary btn-lg hidden" type="submit" value="开题4"
                                   onclick="kaiti(1, 4)">
                            <input id="37" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案4"
                                   onclick="gongbudaan(1, 4)">
                        </div>

                        <div>
                            <input id="38" class="btn btn-primary btn-lg hidden" type="submit" value="开题5"
                                   onclick="kaiti(1, 5)">
                            <input id="39" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案5"
                                   onclick="gongbudaan(1, 5)">
                        </div>

                        <div>
                            <input id="40" class="btn btn-primary btn-lg hidden" type="submit" value="开题6"
                                   onclick="kaiti(1, 6)">
                            <input id="41" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案6"
                                   onclick="gongbudaan(1, 6)">
                        </div>

                        <div>
                            <input id="42" class="btn btn-primary btn-lg hidden" type="submit" value="开题7"
                                   onclick="kaiti(1, 7)">
                            <input id="43" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案7"
                                   onclick="gongbudaan(1, 7)">
                        </div>

                        <div>
                            <input id="44" class="btn btn-primary btn-lg hidden" type="submit" value="开题8"
                                   onclick="kaiti(1, 8)">
                            <input id="45" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案8"
                                   onclick="gongbudaan(1, 8)">
                        </div>

                        <div>
                            <input id="46" class="btn btn-primary btn-lg hidden" type="submit" value="开题9"
                                   onclick="kaiti(1, 9)">
                            <input id="47" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案9"
                                   onclick="gongbudaan(1, 9)">
                        </div>

                        <div>
                            <input id="48" class="btn btn-primary btn-lg hidden" type="submit" value="开题10"
                                   onclick="kaiti(1, 10)">
                            <input id="49" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案10"
                                   onclick="gongbudaan(1, 10)">
                        </div>

                        <div>
                            <input id="50" class="btn btn-primary btn-lg hidden" type="submit" value="开题11"
                                   onclick="kaiti(1, 11)">
                            <input id="51" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案11"
                                   onclick="gongbudaan(1, 11)">
                        </div>

                    </div>
                    <input id="52" class="btn btn-primary btn-lg hidden" type="submit" value="结束第1轮"
                           onclick="end_round(1)">

                </div>

                <div>

                    <input id="53" class="btn btn-primary btn-lg hidden" type="submit" value="开始第2轮"
                           onclick="action_round(2)">
                    <div>

                        <div>
                            <input id="54" class="btn btn-primary btn-lg hidden" type="submit" value="开题0"
                                   onclick="kaiti(2, 0)">
                            <input id="55" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案0"
                                   onclick="gongbudaan(2, 0)">
                        </div>

                        <div>
                            <input id="56" class="btn btn-primary btn-lg hidden" type="submit" value="开题1"
                                   onclick="kaiti(2, 1)">
                            <input id="57" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案1"
                                   onclick="gongbudaan(2, 1)">
                        </div>

                        <div>
                            <input id="58" class="btn btn-primary btn-lg hidden" type="submit" value="开题2"
                                   onclick="kaiti(2, 2)">
                            <input id="59" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案2"
                                   onclick="gongbudaan(2, 2)">
                        </div>

                        <div>
                            <input id="60" class="btn btn-primary btn-lg hidden" type="submit" value="开题3"
                                   onclick="kaiti(2, 3)">
                            <input id="61" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案3"
                                   onclick="gongbudaan(2, 3)">
                        </div>

                        <div>
                            <input id="62" class="btn btn-primary btn-lg hidden" type="submit" value="开题4"
                                   onclick="kaiti(2, 4)">
                            <input id="63" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案4"
                                   onclick="gongbudaan(2, 4)">
                        </div>

                        <div>
                            <input id="64" class="btn btn-primary btn-lg hidden" type="submit" value="开题5"
                                   onclick="kaiti(2, 5)">
                            <input id="65" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案5"
                                   onclick="gongbudaan(2, 5)">
                        </div>

                        <div>
                            <input id="66" class="btn btn-primary btn-lg hidden" type="submit" value="开题6"
                                   onclick="kaiti(2, 6)">
                            <input id="67" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案6"
                                   onclick="gongbudaan(2, 6)">
                        </div>

                        <div>
                            <input id="68" class="btn btn-primary btn-lg hidden" type="submit" value="开题7"
                                   onclick="kaiti(2, 7)">
                            <input id="69" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案7"
                                   onclick="gongbudaan(2, 7)">
                        </div>

                        <div>
                            <input id="70" class="btn btn-primary btn-lg hidden" type="submit" value="开题8"
                                   onclick="kaiti(2, 8)">
                            <input id="71" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案8"
                                   onclick="gongbudaan(2, 8)">
                        </div>

                        <div>
                            <input id="72" class="btn btn-primary btn-lg hidden" type="submit" value="开题9"
                                   onclick="kaiti(2, 9)">
                            <input id="73" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案9"
                                   onclick="gongbudaan(2, 9)">
                        </div>

                        <div>
                            <input id="74" class="btn btn-primary btn-lg hidden" type="submit" value="开题10"
                                   onclick="kaiti(2, 10)">
                            <input id="75" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案10"
                                   onclick="gongbudaan(2, 10)">
                        </div>

                        <div>
                            <input id="76" class="btn btn-primary btn-lg hidden" type="submit" value="开题11"
                                   onclick="kaiti(2, 11)">
                            <input id="77" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案11"
                                   onclick="gongbudaan(2, 11)">
                        </div>

                    </div>
                    <input id="78" class="btn btn-primary btn-lg hidden" type="submit" value="结束第2轮"
                           onclick="end_round(2)">

                </div>

                <div>

                    <input id="79" class="btn btn-primary btn-lg hidden" type="submit" value="开始第3轮"
                           onclick="action_round(3)">
                    <div>

                        <div>
                            <input id="80" class="btn btn-primary btn-lg hidden" type="submit" value="开题0"
                                   onclick="kaiti(3, 0)">
                            <input id="81" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案0"
                                   onclick="gongbudaan(3, 0)">
                        </div>

                        <div>
                            <input id="82" class="btn btn-primary btn-lg hidden" type="submit" value="开题1"
                                   onclick="kaiti(3, 1)">
                            <input id="83" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案1"
                                   onclick="gongbudaan(3, 1)">
                        </div>

                        <div>
                            <input id="84" class="btn btn-primary btn-lg hidden" type="submit" value="开题2"
                                   onclick="kaiti(3, 2)">
                            <input id="85" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案2"
                                   onclick="gongbudaan(3, 2)">
                        </div>

                        <div>
                            <input id="86" class="btn btn-primary btn-lg hidden" type="submit" value="开题3"
                                   onclick="kaiti(3, 3)">
                            <input id="87" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案3"
                                   onclick="gongbudaan(3, 3)">
                        </div>

                        <div>
                            <input id="88" class="btn btn-primary btn-lg hidden" type="submit" value="开题4"
                                   onclick="kaiti(3, 4)">
                            <input id="89" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案4"
                                   onclick="gongbudaan(3, 4)">
                        </div>

                        <div>
                            <input id="90" class="btn btn-primary btn-lg hidden" type="submit" value="开题5"
                                   onclick="kaiti(3, 5)">
                            <input id="91" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案5"
                                   onclick="gongbudaan(3, 5)">
                        </div>

                        <div>
                            <input id="92" class="btn btn-primary btn-lg hidden" type="submit" value="开题6"
                                   onclick="kaiti(3, 6)">
                            <input id="93" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案6"
                                   onclick="gongbudaan(3, 6)">
                        </div>

                        <div>
                            <input id="94" class="btn btn-primary btn-lg hidden" type="submit" value="开题7"
                                   onclick="kaiti(3, 7)">
                            <input id="95" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案7"
                                   onclick="gongbudaan(3, 7)">
                        </div>

                        <div>
                            <input id="96" class="btn btn-primary btn-lg hidden" type="submit" value="开题8"
                                   onclick="kaiti(3, 8)">
                            <input id="97" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案8"
                                   onclick="gongbudaan(3, 8)">
                        </div>

                        <div>
                            <input id="98" class="btn btn-primary btn-lg hidden" type="submit" value="开题9"
                                   onclick="kaiti(3, 9)">
                            <input id="99" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案9"
                                   onclick="gongbudaan(3, 9)">
                        </div>

                        <div>
                            <input id="100" class="btn btn-primary btn-lg hidden" type="submit" value="开题10"
                                   onclick="kaiti(3, 10)">
                            <input id="101" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案10"
                                   onclick="gongbudaan(3, 10)">
                        </div>

                        <div>
                            <input id="102" class="btn btn-primary btn-lg hidden" type="submit" value="开题11"
                                   onclick="kaiti(3, 11)">
                            <input id="103" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案11"
                                   onclick="gongbudaan(3, 11)">
                        </div>

                    </div>
                    <input id="104" class="btn btn-primary btn-lg hidden" type="submit" value="结束第3轮"
                           onclick="end_round(3)">

                </div>

                <div>

                    <input id="105" class="btn btn-primary btn-lg hidden" type="submit" value="开始第4轮"
                           onclick="action_round(4)">
                    <div>

                        <div>
                            <input id="106" class="btn btn-primary btn-lg hidden" type="submit" value="开题0"
                                   onclick="kaiti(4, 0)">
                            <input id="107" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案0"
                                   onclick="gongbudaan(4, 0)">
                        </div>

                        <div>
                            <input id="108" class="btn btn-primary btn-lg hidden" type="submit" value="开题1"
                                   onclick="kaiti(4, 1)">
                            <input id="109" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案1"
                                   onclick="gongbudaan(4, 1)">
                        </div>

                        <div>
                            <input id="110" class="btn btn-primary btn-lg hidden" type="submit" value="开题2"
                                   onclick="kaiti(4, 2)">
                            <input id="111" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案2"
                                   onclick="gongbudaan(4, 2)">
                        </div>

                        <div>
                            <input id="112" class="btn btn-primary btn-lg hidden" type="submit" value="开题3"
                                   onclick="kaiti(4, 3)">
                            <input id="113" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案3"
                                   onclick="gongbudaan(4, 3)">
                        </div>

                        <div>
                            <input id="114" class="btn btn-primary btn-lg hidden" type="submit" value="开题4"
                                   onclick="kaiti(4, 4)">
                            <input id="115" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案4"
                                   onclick="gongbudaan(4, 4)">
                        </div>

                        <div>
                            <input id="116" class="btn btn-primary btn-lg hidden" type="submit" value="开题5"
                                   onclick="kaiti(4, 5)">
                            <input id="117" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案5"
                                   onclick="gongbudaan(4, 5)">
                        </div>

                        <div>
                            <input id="118" class="btn btn-primary btn-lg hidden" type="submit" value="开题6"
                                   onclick="kaiti(4, 6)">
                            <input id="119" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案6"
                                   onclick="gongbudaan(4, 6)">
                        </div>

                        <div>
                            <input id="120" class="btn btn-primary btn-lg hidden" type="submit" value="开题7"
                                   onclick="kaiti(4, 7)">
                            <input id="121" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案7"
                                   onclick="gongbudaan(4, 7)">
                        </div>

                        <div>
                            <input id="122" class="btn btn-primary btn-lg hidden" type="submit" value="开题8"
                                   onclick="kaiti(4, 8)">
                            <input id="123" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案8"
                                   onclick="gongbudaan(4, 8)">
                        </div>

                        <div>
                            <input id="124" class="btn btn-primary btn-lg hidden" type="submit" value="开题9"
                                   onclick="kaiti(4, 9)">
                            <input id="125" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案9"
                                   onclick="gongbudaan(4, 9)">
                        </div>

                        <div>
                            <input id="126" class="btn btn-primary btn-lg hidden" type="submit" value="开题10"
                                   onclick="kaiti(4, 10)">
                            <input id="127" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案10"
                                   onclick="gongbudaan(4, 10)">
                        </div>

                        <div>
                            <input id="128" class="btn btn-primary btn-lg hidden" type="submit" value="开题11"
                                   onclick="kaiti(4, 11)">
                            <input id="129" class="btn btn-primary btn-lg hidden" type="submit" value="公布答案11"
                                   onclick="gongbudaan(4, 11)">
                        </div>

                    </div>
                    <input id="130" class="btn btn-primary btn-lg hidden" type="submit" value="结束第4轮"
                           onclick="end_round(4)">

                </div>

                <input id="131" class="btn btn-primary btn-lg hidden" type="submit" value="闭幕" onclick="bimu()">
            </div>
            <!-- 按钮 -->


            <!-- 重置 -->
            <div class="row" style="margin-top: 200px">

                <div class="form-group has-error col-lg-5">
                    <label class="control-label" for="inputError1">输入0 返回开幕----> 999 重置服务器</label>
                    <input type="number" class="form-control col-lg-3" id="reset">
                    <br> <br>
                    <input class="btn btn-danger col-lg-2 pull-right" onclick="reset($('#reset').val())" type="submit"
                           value="重置">
                </div>
            </div>
            <!-- 重置 -->
            选择服务器：
            <select id="host">
                <option value=0>https://test-oa.xinlianpu.com</option>
                <option value=1>http://192.168.4.121:8080/detao-oa</option>
            </select>
            <input type="button" value="确定" onclick="choise_host()">
            <br> <br> <br>
            <!-- 获取结果 -->
            <div class="row">

                <div class="form-group has-error col-lg-5">
                    <label class="control-label" for="inputError1">获取回和结果</label>
                    {#                    <input type="number" class="form-control col-lg-3" id="round_ret">#}

                    <select id="round_ret">
                        <option value=0>第1轮</option>
                        <option value=1>第2轮</option>
                        <option value=2>第3轮</option>
                        <option value=3>第4轮</option>
                        <option value=4>第5轮</option>
                    </select>


                    <br> <br>
                    <input class="btn btn-default col-lg-2 pull-right" onclick="getret($('#round_ret').val())"
                           type="submit"
                           value="获取">
                </div>


            </div>
            <!-- 获取结果 -->


        </div>
    </div>
</div>


<div class="container">
    <div id="example" class="modal hide fade in" style="display: none; ">

    </div>
</div>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap-modal.js"></script>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="https://v3.bootcss.com/assets/js/vendor/holder.min.js"></script>
<script src="/static/js/jquery.cookie.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="https://v3.bootcss.com/assets/js/ie10-viewport-bug-workaround.js"></script>
<script>
    function set_model(time) {
        var dely_time = 1000;
        if (time) {
            dely_time = time;
        }
        $('#example').modal('show');
        setTimeout(function () {
            $('#example').modal('hide');
        }, dely_time)
    }

    function hidden_btn(d) {
        console.log($('#' + d).toggleClass("hidden"));
        console.log($('#' + (d - 1)).toggleClass("hidden"));
    }

    $('#{{ r }}').toggleClass("hidden");

    function send_msg() {
        var msg = $('#msg').val();
        console.log(msg);
        $.ajax({
            url: "./send_msg/",
            type: "POST",
            headers: {'x-CSRFtoken': $.cookie('csrftoken')},
            data: {msg: msg},  //ajax获取form中所有数据
            success: function (data, a1, a2) {
                console.log(data)

            }
        })
    }


    function isRealNum(val) {
        // isNaN()函数 把空串 空格 以及NUll 按照0来处理 所以先去除
        if (val === "" || val == null) {
            return false;
        }
        if (!isNaN(val)) {
            return true;
        } else {
            return false;
        }
    }

    var host = $('#host :selected').val();
    console.log(host);

    // 重置
    function reset(num) {
        var isnum = isRealNum(num);
        if (isnum) {
            $.ajax({
                url: "./ajax/",
                type: "POST",
                headers: {'x-CSRFtoken': $.cookie('csrftoken')},
                data: {'reset': num, 'host': host},  //ajax获取form中所有数据
                success: function (data, a1, a2) {
                    console.log(data);
                    $('.btn-lg').addClass('hidden');
                    console.log($('#' + data).toggleClass("hidden"));
                    $('#question div').empty();
                }
            })
        } else {
            alert('别瞎填行么？');
            $('#reset')
        }

    }

    // 开幕
    function kaimu() {
        set_model();
        $.ajax({
            url: "./ajax/",
            type: "POST",
            headers: {'x-CSRFtoken': $.cookie('csrftoken')},
            data: {'api': 'kaimu_url', 'data': {}, 'host': host},  //ajax获取form中所有数据
            success: function (data, a1, a2) {
                console.log(data);
                hidden_btn(data);
                $('#question div').empty();
            }

        })
    }

    // 开始round
    function action_round(j) {
        set_model();
        var d0 = {'round': j};
        $.ajax({
            url: "./ajax/",
            type: "POST",
            headers: {'x-CSRFtoken': $.cookie('csrftoken')},
            data: {'api': 'action_round_url', 'data': JSON.stringify(d0), 'host': host},  //ajax获取form中所有数据
            success: function (data, a1, a2) {
                console.log(data);
                hidden_btn(data);
                $('#question div').empty();

            }
        })
    }

    // 开题
    function kaiti(round, qaIndex) {
        set_model(10000);
        var d1 = {
            'round': round,
            'qaIndex': qaIndex
        };
        $.ajax({
            url: "./ajax/",
            type: "POST",
            headers: {'x-CSRFtoken': $.cookie('csrftoken')},
            data: {'api': 'kaiti_url', 'data': JSON.stringify(d1), 'host': host},  //ajax获取form中所有数据
            success: function (data, a1, a2) {
                console.log('开题', data);
                var ret = JSON.parse(data);
                var r = ret['r'];
                var d = ret['d'];
                hidden_btn(r);
                $('#answer').empty();
                $('#question').empty();
                $('#question').html(d);

            }
        })
    }

    // 公布答案
    function gongbudaan(round, qaIndex) {
        set_model();
        var d1 = {
            'round': round,
            'qaIndex': qaIndex
        };
        $.ajax({
            url: "./ajax/",
            type: "POST",
            headers: {'x-CSRFtoken': $.cookie('csrftoken')},
            data: {'api': 'gongbudaan_url', 'data': JSON.stringify(d1), 'host': host},  //ajax获取form中所有数据
            success: function (data, a1, a2) {
                console.log('公布答案');
                console.log(data);
                var ret = JSON.parse(data);
                var r = ret['r'];
                var d = ret['d'];
                hidden_btn(r);
                $('.' + d).addClass('alert-danger');
                {#$('#answer').empty();#}
                $('#answer').text(d);
            }
        })
    }

    //  结束 round
    function end_round(j) {
        set_model();
        var d1 = {
            'round': j
        };
        $.ajax({
            url: "./ajax/",
            type: "POST",
            headers: {'x-CSRFtoken': $.cookie('csrftoken')},
            data: {'api': 'end_round_url', 'data': JSON.stringify(d1), 'host': host},  //ajax获取form中所有数据
            success: function (data, a1, a2) {
                console.log(data);
                hidden_btn(data);
            }
        });
        getret(j)
    }

    // 获取回合结果
    function getret(j) {
        $('#tongji').empty();
        j = Number(j);
        var d1 = {'round': j};
        $.ajax({
            url: "./ajax/",
            type: "POST",
            headers: {'x-CSRFtoken': $.cookie('csrftoken')},
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            data: {'api': 'get_roundret_url', 'data': JSON.stringify(d1), 'host': host},  //ajax获取form中所有数据
            success: function (data, a1, a2) {
                var ret;
                ret = JSON.parse(JSON.parse(data)['d']);
                var html = '<p>Round:'+j+'</p><p>答对：'+ret.length+' 人</p>';
                for (var i = 0; i < ret.length; i++) {
                    console.log(ret[i]);
                    html += '<p>'+ ret[i]['wxNickname']+ ' <img style="width:20px" src="'+ret[i]['wxAvatarUrl']+'"></p>';
                }
                $('#tongji').html(html);
            }
        })
    }

    // 闭幕
    function bimu(j) {
        set_model();
        var d1 = {};
        $.ajax({
            url: "./ajax/",
            type: "POST",
            headers: {'x-CSRFtoken': $.cookie('csrftoken')},
            data: {'api': 'bimu_url', 'data': JSON.stringify(d1), 'host': host},  //ajax获取form中所有数据
            success: function (data, a1, a2) {
                console.log(data)
            }
        })
    }

    // 选择服务器
    function choise_host() {
        host = $('#host :selected').val();
        console.log(host);
    }

</script>
</body>
</html>
